.day { 
  height: 200px; 
  width: 14.28%;
  font-size: 25 px; 
}

.calendar-header {
  font-size: 30px;
}

.table thead tr th {
  font-size: 20px;
}

.calendar-row {
  background-color: #f5f5f5;
}

.table thead {
  background-color: white;
}

.calendar-well {
  background-color: white !important;
}